<h1> O que deseja fazer? </h1>

<div class="options">
  <div> <a href="/pedidos/new"> Cadastrar Pedido </a> </div>
  <div> <a href="/fornecedors/new"> Cadastrar Fornecedor </a> </div>
  <div> <a href="/produtos/new"> Cadastrar Produto </a> </div>
  <div> <a href="/transportadoras/new"> Cadastrar Transportadora </a> </div>
</div>
