<h1> O que deseja fazer? </h1>

<h2> <%= link_to 'Cadastrar Pedido', new_pedido_path %> </h2>

<h2> <%= link_to 'Cadastrar Fornecedor', new_fornecedor_path %> </h2>

<h2> <%= link_to 'Cadastrar Produto', new_produto_path %> </h2>

<h2> <%= link_to 'Cadastrar Transportadora', new_transportadora_path %> </h2>
