<h1>Editando Telefone de <%= link_to @telefone.fornecedor.nome, @telefone.fornecedor if @telefone.fornecedor %></h1>

<%= render 'form', telefone: @telefone %>

<%= link_to 'Cancelar', @telefone.fornecedor if @telefone.fornecedor %>
