<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @transportadora.nome %>
</p>

<%= link_to 'Edit', edit_transportadora_path(@transportadora) %> |
<%= link_to 'Back', transportadoras_path %>
