<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Valor</th>
      <th>Quantidade</th>
      <th>Sub-Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.produto.nome, item.produto if item.produto %></td>
        <td><%= item.valor %></td>
        <td><%= item.quantidade %></td>
        <td><%= item.subtotal %></td>
      </tr>
    <% end %>
  </tbody>
</table>
