<table>
  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.endereco_email %></td>
        <td><%= email.referencia %></td>
        <td><%= link_to 'Editar', edit_email_path(email) %></td>
        <td><%= link_to 'Remover', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
