<h1>Editando Email de <%= link_to @email.fornecedor.nome, @email.fornecedor if @email.fornecedor %></h1>

<%= render 'form', email: @email %>

<p> <%= link_to 'Cancelar', @email.fornecedor if @email.fornecedor %> </p>
